.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;

}

.background-container {
    height: 100vh; /* Mengisi tinggi viewport */
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Gradient dari kiri ke kanan */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}