.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

body {
  background-image: url("background/LOGIN.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.form_login .btn-custom2 {
  background-color: #aa8d3f;
}
.form_login .btn-custom2:hover {
  background-color: #856a1e;
}

.form_register .btn-custom2 {
  background-color: #aa8d3f;
}
.form_register .btn-custom2:hover {
  background-color: #856a1e;
}

